<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
    <style>
        body {
            width: 200vh;
        }
        .profile {
            width: 50vh;
        }
    </style>
</head>
<body class="m-5">
    <div class="container-fluid row align-item-center">
        <div class="col-md-4"><img src="../assets/image/me.png" alt="Mu'adz Profile" class=" profile rounded-circle"></div>
        <div class="col-md-8">
            <h1>Mu'adz</h1>
            <h4>Backend Developer | Marketing Manager | Tech Enthusiast</h4>
            <p>A proactive university student with experience in Backend Development and Digital Marketing.Passionate about technology, IoT, and project management. Skilled in Laravel, API Management, and Agile Development.</p>
            <p><strong>Phone:</strong> +6283151452881</p>
            <p><strong>Email:</strong> <a href="mailto:muadz848@gmail.com">muadz848@gmail.com</a></p>
            <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/muadzmuthohirin">linkedin.com/in/muadzmuthohirin</a></p>
            <p><strong>Portfolio:</strong> <a href="https://ryvnmax.live">ryvnmax.live</a></p>
        </div>
    </div>
</body>
</html>